{% extends "base.html" %}

{% block content %}
    <h1>Список статей</h1>
    <form class="form-inline mb-3" action="{% url 'articles_index' %}" method="get">
        <div class="form-group">
          <input class="form-control" type="search" name="q" value="{{ search }}" placeholder="Название статьи">
        </div>
        <button class="btn btn-info" type="submit">Поиск</button>
    </form>
    <a href="{% url 'article_create' %}">Создать свою статью</a>
    {% for article in articles %}
        <h2>{{ article.name }}</a></h2>
        <a href="{% url 'article_id' article.id %}">Читать</a>
    {% endfor %}
{% endblock %}
